:root {
  --background: #ffffff;
  --foreground: #000;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-geist-sans); */
  font-family: var(--font-space-grotesk);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.intro {
  padding-top: 150px;
  padding-bottom: 150px;
}

.intro-text {
  /* font-family: 'Space Grotesk'; */
  font-weight: bold;
  font-size: 112px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  position: relative;
}

.intro-pic {
  border-radius: 99px;
  object-fit: cover;
  display: inline-block;
  margin: 0;

  position: absolute;

  transform: translate(15px, -15px);
}