:root {
  --background: #ffffff;
  --foreground: #000;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-geist-sans); */
  font-family: var(--font-space-grotesk);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.intro-wrapper {
  overflow: hidden;
}

.intro {
  padding-top: 150px;
  padding-bottom: 150px;
}

.intro-text {
  font-weight: bold;
  font-size: 112px;
  line-height: 1.15;
  letter-spacing: -0.02em;

  width: 920px;
  max-width: 100%;

  position: relative;
}

.intro-pic {
  border-radius: 99px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  width: auto;
  height: 1.3em;
  
  position: absolute;

  transform: translate(15px, -15px);
}

.intro-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  max-width: 100%;
  margin-top: 80px;
}

.intro-logos svg {
  opacity: 0.35;
  width: 48px;
  height: 48px;
  display: block;
  transition: 0.3s;
}

.intro-logos svg:hover {
  opacity: 1;
}



@media (max-width: 1199px){

  .intro-text {
    font-size: 96px;
  }

}

@media (max-width: 767px){

  .intro-text {
    font-size: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .intro-pic {
    display: block;
    height: 120px;
    margin-bottom: 48px;
    margin-left: -2px;
    transform: initial;

    position: static;
    order: -1;
  }

}

@media (max-width: 575px){

  .intro-text {
    font-size: 44px;
  }
  
  .intro-logos svg {
    width: 40px;
    height: 40px;
  }

}

@media (max-width: 412px){

  .intro-text {
    font-size: 36px;
  }

  .intro-logos svg {
    width: 32px;
    height: 32px;
  }

}
