:root {
  --background: #ffffff;
  --foreground: #000;

  --font-text: 'Clash Grotesk', sans-serif;
  --font-display: 'Clash Display', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {

  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-geist-sans); */
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.grid-item {
  flex: 1;
  padding: 20px;
}

.grid-2x .grid-item {
  max-width: 50%;
  flex-basis: 50%;
  width: 50%;
}

@media (max-width: 991px) {

  .grid {
    margin: -10px;
  }

  .grid-item {
    padding: 10px;
  }

  .grid-2x {
    /* grid-template-columns: 1fr; */
    flex-direction: column;
  }

  .grid-2x .grid-item {
    width: 100%;
    max-width: 100%;
  }
}


.section-header {
  padding-bottom: 40px;
}

.section-header-title {
  font-family: var(--font-display);
  font-size: 96px;
  font-weight: 600;
  margin-left: -0.04em;
}


@media (max-width: 575px){

  .section-header-title {
    font-size: 36px;
  }

}




.intro-wrapper {
  overflow: hidden;
}

.intro {
  padding-top: 150px;
  padding-bottom: 150px;
}

.intro-text {
  font-weight: bold;
  font-size: 112px;
  line-height: 1.15;
  letter-spacing: -0.02em;

  width: 920px;
  max-width: 100%;

  position: relative;
}

.intro-pic {
  border-radius: 99px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  width: auto;
  height: 1.3em;
  
  position: absolute;

  transform: translate(15px, -15px);
}

.intro-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  max-width: 100%;
  margin-top: 80px;
}

.intro-logos svg {
  opacity: 0.35;
  width: 48px;
  height: 48px;
  display: block;
  transition: 0.3s;
}

.intro-logos svg:hover {
  opacity: 1;
}



@media (max-width: 1199px){

  .intro-text {
    font-size: 96px;
  }

}

@media (max-width: 767px){

  .intro-text {
    font-size: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .intro-pic {
    display: block;
    height: 120px;
    margin-bottom: 48px;
    margin-left: -2px;
    transform: initial;

    position: static;
    order: -1;
  }

}

@media (max-width: 575px){

  .intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .intro-text {
    font-size: 44px;
  }
  
  .intro-logos svg {
    width: 40px;
    height: 40px;
  }

}

@media (max-width: 412px){

  .intro-text {
    font-size: 36px;
  }

  .intro-logos svg {
    width: 32px;
    height: 32px;
  }

}






.case {
  border-bottom: 1px solid rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;

  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.case-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.01em;

  flex: 1;
  padding-bottom: 10px;
  margin-left: -0.05em;
}

.case-title a {
  color: #000;
  transition: 0.2s;
}

.case-title a:hover,
.case-title a:focus {
  color: rgba(0,0,0,0.75);
}

.case-details {
  font-size: 0.875rem;
  color: rgba(0,0,0,0.6);
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.case-details a {
  color: #000;
  text-decoration: underline;
}

.case-details a:hover,
.case-details a:focus {
  color: #000;
  text-decoration: underline;
  opacity: 0.5;
}

.case-link {
  /* font-size: 0;
  background: url('data:image/svg+xml,<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.845 12.331L0.0586034 12.3311L0.0585938 9.66902L14.8451 9.66901L7.70549 2.52945L9.58785 0.647095L19.9408 11L9.58782 21.353L7.70546 19.4706L14.845 12.331Z" fill="%236880F5"/></svg>') no-repeat center center;
  background-size: auto 20px;
  border-radius: 99px;
  backdrop-filter: blur(20px);

  display: block;
  width: 96px;
  height: 96px;

  transition: 0.2s; */
  display: none;
}

/* .case-link:hover,
.case-link:focus {
  background-color: rgba(0,0,0, 0.1);
} */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* @media (max-width: 1400px){

  .case-title {
    font-size: 56px;
  }

} */

/* @media (max-width: 1200px){

  .case {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .case-title {
    font-size: 48px;
  }

} */

/* @media (max-width: 1024px){

  .case {
    flex-direction: column;
    align-items: flex-start;
  }

  .case-link {
    position: absolute;
    right: 0;
    top: 10px;
  }

} */

/* @media (max-width: 575px){

  .case-title {
    font-size:28px;
  }

  .case-details {
    font-size: 0.745rem;
    flex-wrap: wrap;
    gap: 5px;
  }

  .case-link {
    display: none;
  }

} */





.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 2rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
