.blog-thumb {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    gap: 100px;

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
}

.blog-thumb-details {
    flex: 0 0 160px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.blog-thumb-date {
  color: #00000099;
  font-size: 0.975rem; /* text-xs */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em; /* tracking-widest */
  margin-bottom: 0.5rem; /* mb-2 */
}

.blog-thumb-pic {
  flex: 0 0 440px;
  width: 440px;
  min-width: 440px;
  max-width: 440px;

  img {
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
}

.blog-thumb-content {
  flex: 1;
  padding-right: 200px;
}

.blog-thumb-title {
  font-size: 2rem; /* text-lg */
  font-weight: 500; /* font-medium */
  color: #171717; /* neutral-900 */
  line-height: 1.5; /* leading-snug */
  letter-spacing: -0.01em;
  
  /* Underline effect */
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(to right, #171717 0, #171717 100%);
  background-position: 0 1.15em;
  background-size: 0 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, color 0.2s;
}

.blog-thumb:hover .blog-thumb-title {
  color: #171717;
  background-size: 100% 2px;
}


/* .blog-thumb-external-icon-container {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  opacity: 0;
  transition: opacity 0.2s;
} */

/* .blog-thumb:hover .blog-thumb-external-icon-container {
  opacity: 1;
} */

/* .blog-thumb-external-icon-wrapper {
  padding: 1rem;
  border-radius: 999px;
  border: 1px solid #e5e5e5;
} */

/* .blog-thumb-external-icon {
  width: 0.875rem;
  height: 0.875rem;
  color: #525252;
} */
