.curved-loop-jacket {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: translateY(-100px);
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  height: 120px;
  overflow: visible;
  display: block;
  font-size: 3.5rem;
  fill: #6F6F6F;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0.02em;
  word-spacing: 0.4em;
}

@media (min-width: 992px) {
  .curved-loop-jacket {
    margin-bottom: 160px;
  }
}