.tech-marquee-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  max-width: 100vw;
  overflow: hidden;
  padding-bottom: 3rem; /* Add some space below */
}

.tech-marquee {
  --gap: 10px;
  --duration: 18s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  /* Fade out edges */
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.tech-marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: tech-scroll-x var(--duration) linear infinite;
}

@keyframes tech-scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

.tech-marquee-item {
  font-size: 2.25rem;
  letter-spacing: -0.01em;
  font-weight: 600;
  border-radius: 18px;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: .3em;

  padding: 16px 28px;
}

.tech-marquee-item svg {
  display: block;
}

.tech-icon {
  width: 1em;
  height: 1em;
}


@media (max-width: 768px) {

  .tech-marquee {
    --duration: 15s;
  }
  
  .tech-marquee-item {
    font-size: 1.25rem;
    padding: 10px 18px;
    border-radius: 12px;
  }


}
